.flex-container{
    height: 800px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
}

.item2{
    padding: 5px;
}

.item3{padding: 10px;}
.item4{padding: 15px;}
.item5{padding: 20px;}